body{
    font-family: 'Oxygen', sans-serif !important;
    padding: 0;
    margin: 0;
    background-color: white;
}
.main-heading-dark{
    font-size: 48px;
    font-family: 'Jost', sans-serif;
    color: #313131;
}
.main-heading-white{
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 48px;
    text-align: center;
}


.btn-purple{
    background-color: #9232ae !important;
    padding: 20px 28px 20px 28px !important;
    border-color: #9232ae !important;
    font-weight: bold !important;

}

.btn-blue{
    background-color: #04d3ee !important;
    padding: 20px 28px 20px 28px !important;
    border-color: #04d3ee !important;
    font-weight: bold !important;

}

.sub-heading{
    font-size: 30px;
    font-weight: 700 !important;
    color: #313131 ;
}

p{
    font-size: 16px;
    color: #616161;
    line-height: 2.0;
}

.paragraph{
    margin-top: 20px;
}

/* Section 7 */
.sec-7-main{
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-7-img-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-section-7{
    height: 30em;
}



.sec-7-underline{
    width: 25em;
    position: absolute;
    z-index: -1;
    top: 40px;
}




/* Section 8 */

.sec-8-main{
    background-color: #8965b4;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sec-8-card{
    background-color: white !important;
    padding: 50px;
    border-radius: 5px;
    margin-top: 70px;
    box-shadow: 17px 27px 34px -22px rgba(20,20,20,0.43);
}

.sec-8-img-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-8-card-img{
    height: 15em;
}

/* Section 9 */

.sec-9-main{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f9f9f9;
    background-image: url("/assets/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Section 10 */
.sec-10-main{
    padding-top: 100px;
    padding-bottom: 100px;
}

.sec-10-card-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.sec-10-btn-container{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

/* section 11 */
.sec-11-main{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("/assets/images/grey-bubble-bg.png");
    
}

.sec-11-row{
padding-top: 50px;
padding-bottom:50px ;
margin-top: 70px;
}
.sec-11-img-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-11-img{
    height: 25em;
}

/* section-12 */
.sec-12-main{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #8965b4;
}


/* section-13 */
.sec-13-main{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
}

/* card */

.card-main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.card-main{
    background-color: white !important;
    border-radius: 8px;
    height: 500px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 70px;
    box-shadow: -1px 22px 55px -3px rgba(209,222,255,0.63);
}

.img-container{
    display: flex;
    justify-content: center;
}
.card-img-main{
    width:4em;
    margin-bottom: 30px;
    margin-top: 30px;

}

.card-text{
    text-align: center;
    color: #333333;
    line-height: 2em;
}

/* card-dark-bg */
.card-main-dark-bg{
    background-color: white !important;
    border-radius: 8px;
    height: 500px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 70px;
    box-shadow: 17px 27px 34px -22px rgba(20,20,20,0.43);
}

/* footer */
.footer-main{
    background-image: url("/assets/images/footer.png");
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socket{
  height: 100px;
    display: flex;
    background: #553e71;
    justify-content: center;
    align-items: center;
    color: white;
}
/* bullet */
ul {
    list-style-image: url("/assets/images/bullet.png");
    line-height: 2em;
}
@media screen and (max-width:768px){
    .alternate-sec-11-row{
        flex-direction: column-reverse;
    }
}
@media screen and (max-width:768px){
.main-heading-white{
    font-size: 35px;
}
.main-heading-dark{
    font-size: 35px;
}
}
