:root{
    --primary-color:#9232ae;
}
body{
    background-color: white;
    
    font-family: 'Oxygen', sans-serif !important;
    /* padding-top: 100px;  */
}
section{
    padding-top: 20px;
    padding-bottom: 20px;
}


.main-heading-dark{
    font-size: 48px;
    font-family: 'Jost', sans-serif;
    color: #313131;
    font-weight: bold;
}
.main-heading-white{
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
}
.head-underline{
    bottom: 3px;
    z-index: -1;
    left: 0;
    position: absolute;
    width: 70%;
    height: 8px;
}

.btn-purple{
    background-color: #9232ae !important;
    padding: 20px 28px 20px 28px !important;
    border-color: #9232ae !important;
    font-weight: bold !important;

}

.btn-purple:hover{
    transition: .2s;
    background: #6d0c8a !important;
}

.btn-blue:hover{
    transition: .2s;
    background: #08a6bb !important;
}
.btn-blue{
    background-color: #04d3ee !important;
    padding: 20px 28px 20px 28px !important;
    border-color: #04d3ee !important;
    font-weight: bold !important;

}

.sub-heading{
    font-size: 30px;
    font-weight: 700 !important;
    color: #313131 ;
}


.paragraph{
    margin-top: 20px;
}

/* Section 7 */
.sec-7-main{
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-7-img-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-section-7{
    height: 30em;
}

.sec-7-paragraph p{
    font-size: 16px;
    
    color: #616161;
}
.logo{
    width: 250px;
}
.navbar{
    padding: 1rem 1rem !important;
}
.hero-sec-col-img{
    width: 90%;
}
.main-clr{
    background: var(--primary-color) !important;
 
}
.primary-bg-color{
    background: var(--primary-color) !important;

}
.sec2-card-cont{
    display: flex;
}
.sec2-card{
    width: 18%;
    box-shadow: 1px 12px 20px rgb(0 0 0 / 12%);
    padding: 0px 18px;
    font-size: 13px;
    height: 200px;
}
.upper-sec-wrap{
    background-image: url('/assets/images/headerGraphic.png');
    background-size: 100% 70%;

    background-repeat: no-repeat;
}
.btn-shadow{
    box-shadow: 1px 1px 13px #ccc;
}
.main-clr:hover{
    background: #5a0972 !important;
}
.nav-px{
    padding-left: 6rem !important;
    padding-right: 6rem !important;
}
.headerbtns{
    width: 150px;
    /* padding: 10px 10px !important; */
}
.sec-b-p-none{
    padding-bottom: 0 !important; 
}
.sec-t-p-none{
    padding-top: 0 !important; 
}
.green-text{
    color: green;
}
/* .hero-sec{
    height: 100vh;
} */

.hero-text-head{
    font-size: 2.5rem !important;
}
.hero-text-para{
    font-size: .9rem!important;
}
.navbar-collapse{
    background: transparent !important;
}
.navbar .show{
    transition:.2s;
    background: #f8f9fa !important;
}
.dropdown-menu{
    height: 300px;
    width: 420px;
    padding: 10px !important;
    margin-bottom: 15px !important;
}
.white-space-normal{
    white-space: normal;
}

.dropdown-menu a:hover{
text-decoration: none;
}
.social-icons:hover{
    text-decoration: none;
    }
.menu-hover-effect:hover{
    transition: .2s;
    box-shadow: 0 5px 30px 0 rgba(147,161,176,.25);
}
.navbar .header-link{
    position: relative;
}
 .header-link:after {
    content: '';
    position: absolute;
    width: 0%;
    transition: .2s;
    height: 2px;
    left: 0;
    background: rgb(43, 43, 43);
}
.header-link:hover:after{
    width: 100% !important;
}
.signup-sec{
    margin-top: -12%;
}
.social-icons{
    margin: 10px;
    
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* text-align: center; */
    color: black;
    transition: none;
    height: 40px;
}
.social-icons:hover{
    transition: .3s;
    background: #ccc;
    color: white;
}
.text-fields{
    background: #f4f8f7 !important;
    color: #999e9d !important;
}
.signup-form-cont{
    height: 650px;
    /* margin-top: -100%; */
    /* background: var(--primary-color); */
}
.signin-form a{
color:black !important;
}
.custom-btns{
   
    padding-left: 65px !important;
    padding-right: 65px!important;
    padding-top: 18px!important;
    padding-bottom: 18px!important;
    
    border-radius: 15px !important;
}
.custom-btns-bg{
    background: #9efac4 !important;
}
.custom-btns-bg:hover{
    background: #5bb681 !important;
    color:white !important;
}
.main-heading-dark{
    font-size: 38px;
 position: relative;
 z-index: 999;
    font-family: 'Jost', sans-serif;
    color: #313131;
}
.main-heading-white{
    z-index: 999;
    color: white;
    font-size: 48px;
 position: relative;

   font-weight: bold;
}
.sec-long-heading-main{
    font-size: 38px;
    font-family: 'Jost', sans-serif;
    color: #313131;
}
.sec6-cards-img{
    width: 65px;
    height: 65px;
}
.sec-bg-light{
    background-color: #f9f9f9;
    background-image: url("/assets/images/alternate-bg.png");
    background-size: 100%;
    background-position: center;
}
.font-size-15-px{
    font-size: 15px;
}
.btn-blue{
    background-color: #04d3ee !important;
    padding: 20px 28px 20px 28px !important;
    border-color: #04d3ee !important;
    font-family: 'Oxygen', sans-serif !important;
    font-weight: bold !important;

}
.sec2-card:hover{
    transition: .2s;
    transform: scale(1.1);
}
@media screen and (max-width:1024px){
    .sec2-card p{
        font-size: 11px;
    }
    .head-underline,.sec-7-underline{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .sec2-card .sec6-cards-img{
        height: 40px;
        width: 40px;
    }
    .sec2-card {
        height: 160px;
    }
    .sec2-card p{
        font-size: 9px;
    }
    .signup-form-cont{
        height: 500px;
    }
   .custom-btns{
       padding: 15px 30px !important;
   }
    /* body { padding-top: 0px; } */
    .small-font-size{
        font-size: 11px !important;
    }
    .dropdown-menu{
        width: initial;
    height: initial;
    }
}
@media screen and (min-width:540px){
    .dropdown:hover .dropdown-menu{
display: block;
}

}
@media screen and (max-width:540px){
    .sec2-card-sm{
        flex-direction: column  ;
    }

    .sec2-card-sm .sec2-card{
        width: 100%;
    }
    .sec2-card-sm .sec2-card p{
        font-size: 12px;
    }
    .upper-sec-wrap{
        padding-top: 65px;
        background-size: cover;
    }
    .logo{
        width: 180px;
    }
    .nav-px{
        padding-left: 1rem !important;
    padding-right: 1rem !important;
    }
    .hero-sec-col-img{
        margin-top: 20px;
    }
    .signup-form-cont{
        height: 100%;
    }
    .signup-sec .wrap{
        padding: 60px;
    }
    .margin-top-sm{
        margin-top: 18px;
    }
}
@media screen and (max-width:414px){
    .resp-head-h1{
        font-size: 25px!important;
    }
}
@media screen and (max-width:360px){
h1{
    font-size: 1.8rem!important;
}
}
@media screen and (max-width:320px){
    .upper-sec-wrap{
        padding-top: 100px;
    }
    .logo{
        width: 120px;
    }
    .signup-sec{
        margin: 0 !important;
    }
}


.sec-7-underline{
    width: 55%;
    position: absolute;
    z-index: -1;
    top: 33px;
}




/* Section 8 */

.sec-8-main{
    background-color: #8965b4;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sec-8-card{
    background-color: white !important;
    padding: 50px;
    border-radius: 5px;
    margin-top: 70px;
    box-shadow: 17px 27px 34px -22px rgba(20,20,20,0.43);
}

.sec-8-img-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-8-card-img{
    height: 15em;
}

/* Section 9 */

.sec-9-main{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f9f9f9;
    background-image: url("/assets/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Section 10 */
.sec-10-main{
    padding-top: 100px;
    padding-bottom: 100px;
}

.sec-10-card-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.sec-10-btn-container{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

/* section 11 */
.sec-11-main{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("/assets/images/grey-bubble-bg.png");
    
}

.sec-11-row{
padding-top: 50px;
padding-bottom:50px ;
margin-top: 70px;
}
.sec-11-img-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-11-img{
    height: 25em;
}

/* section-12 */
.sec-12-main{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #8965b4;
}


/* section-13 */
.sec-13-main{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
}

/* card */

.card-main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.card-main{
    background-color: white !important;
    border-radius: 8px;
    height: 500px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 70px;
    box-shadow: -1px 22px 55px -3px rgba(209,222,255,0.63);
}

.img-container{
    display: flex;
    justify-content: center;
}
.card-img-main{
    width:4em;
    margin-bottom: 30px;
    margin-top: 30px;

}

.card-text{
    text-align: center;
    color: #333333;
    line-height: 2em;
}

/* card-dark-bg */
.card-main-dark-bg{
    background-color: white !important;
    border-radius: 8px;
    height: 500px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 70px;
    box-shadow: 17px 27px 34px -22px rgba(20,20,20,0.43);
}

/* footer */
.footer-main{
    background-image: url("/assets/images/footer.png");
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socket{
  height: 100px;
    display: flex;
    background: #553e71;
    justify-content: center;
    align-items: center;
    color: white;
}
/* bullet */
.undertainitylist {
    list-style-image: url("/assets/images/bullet.png");
    line-height: 2em;
}
@media screen and (max-width:768px){
    .alternate-sec-11-row{
        flex-direction: column-reverse;
    }
    .main-heading-white{
        font-size: 35px;
    }
    .main-heading-dark{
        font-size: 35px;
    }
}
@media screen and (max-width:340px){
    .card-main-dark-bg{
        padding-top: 0;
    }
    .sec-8-card{
        padding: 20px 0px;
    }

}
